/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* @media */
$desktop-s: 1263px;
$tablet: 1023px;
$tablet-s: 767px;

/* fonts */
$primary-font: 'Inter', 'Arial', sans-serif;
$secondary-font: 'Prata', 'Times New Roman', serif;
