-
	var slides = [
		{
			current: true,
			text: 'Суперскидка до 60%',
			title: 'На бриллианты',
			linkText: 'Подробнее',
			linkAnchor: 'diamonds',
			linkInfo: 'Перейти на страницу с данным предложением',
			imagePath: 'diamond-ring',
			imageDescription: 'Кольцо с бриллиантами',
			imageWidth: '548',
			imageHeight: '548',
		},
		{
			text: 'Суперскидка до 60%',
			title: 'На бриллианты',
			linkText: 'Подробнее',
			linkAnchor: 'diamonds',
			linkInfo: 'Перейти на страницу с данным предложением',
			imagePath: 'diamond-ring',
			imageDescription: 'Кольцо с бриллиантами',
			imageWidth: '548',
			imageHeight: '548',
		},
		{
			text: 'Суперскидка до 60%',
			title: 'На бриллианты',
			linkText: 'Подробнее',
			linkAnchor: 'diamonds',
			linkInfo: 'Перейти на страницу с данным предложением',
			imagePath: 'diamond-ring',
			imageDescription: 'Кольцо с бриллиантами',
			imageWidth: '548',
			imageHeight: '548',
		},
	];