-
  var buttons = [
    {
      iconName: 'heart',
      iconWidth: '24',
      iconHeight: '24',
      description: 'Добавить в избранное',
    },
    {
      iconName: 'eye',
      iconWidth: '24',
      iconHeight: '24',
      description: 'Отметить как просмотренное',
    },
  ];