-
	var controls = [
		{
			description: 'Предыдущий слайд',
			iconName: 'previous',
			iconWidth: '54',
			iconHeight: '54',
		},
		{
			description: 'Следующий слайд',
			iconName: 'next',
			iconWidth: '54',
			iconHeight: '54',
		},
	];