-
	var populars = [
		{
			imagePath: 'ring',
			imageWidth: '127',
			imageHeight: '100',
			text: 'Кольца',
		},
		{
			imagePath: 'earrings',
			imageWidth: '102',
			imageHeight: '130',
			text: 'Серьги',
		},
		{
			imagePath: 'engagement rings',
			imageWidth: '117',
			imageHeight: '93',
			text: 'Помолвочные кольца',
		},
		{
			imagePath: 'bracelet',
			imageWidth: '141',
			imageHeight: '118',
			text: 'Браслеты',
		},
		{
			imagePath: 'necklaces and pendants',
			imageWidth: '128',
			imageHeight: '128',
			text: 'Колье и подвески',
		},
		{
			imagePath: 'watch',
			imageWidth: '122',
			imageHeight: '147',
			text: 'Часы',
		},
	];