-
	var articles = [
		{
			path: 'article-1',
			width: '310',
			height: '381',
			date: '21 сентября 2021',
			heading: 'Обручальные кольца: тренды 2021',
		},
		{
			path: 'article-2',
			width: '310',
			height: '381',
			date: '25 сентября 2021',
			heading: 'Главные ювелирные тренды года',
		},
		{
			path: 'article-3',
			width: '310',
			height: '381',
			date: '21 сентября 2021',
			heading: 'Жемчуг: 7 малоизвестных фактов о культовом украшении',
		},
		{
			path: 'article-4',
			width: '310',
			height: '381',
			date: '21 сентября 2021',
			heading: 'Как отличить золото от подделки: 10 практических советов',
		},
	];