//- mixins (UTILS)
include ./utils/icon
include ./utils/picture

//- mixins (MIXINS)
include ./mixins/controls
include ./mixins/tabs
include ./mixins/card-buttons
include ./mixins/card-images-list
include ./mixins/dots
include ./mixins/goods-controls
include ./mixins/goods
include ./mixins/image-controls
include ./mixins/rating
include ./mixins/colors
include ./mixins/sizes
include ./mixins/buttons
include ./mixins/good-navigation
include ./mixins/timer
include ./mixins/list