mixin image-controls(good)
	ul.goods__image-controls
		each control in good.controls
			li.goods__image-control
				button.goods__image-button(type= control.type aria-label= control.description)
					+icon(`${control.name}`, `${control.width}`, `${control.height}`)