mixin sizes(good)
	section.sizes
		.sizes__container
			h3.sizes__title Размеры
			//- Можно вынести в отдельный миксин
			.sizes__tooltip
				span.sizes__tooltip-symbol(tabindex="0") ?
				p.sizes__tooltip-text
					.
						Также как существующая теория напрямую зависит от&nbsp;экономической целесообразности принимаемых решений.
		ul.sizes__list
			each size in good.sizes
				li.sizes__item
					button.sizes__button(type="button" aria-label= size.description)= size.size