mixin sizes(good)
	section.sizes
		h3.sizes__title Размеры

		//- Тут будет tooltip
		ul.sizes__list
			each size in good.sizes
				li.sizes__item
					button.sizes__button(type="button" aria-label= size.description)= size.size