mixin timer
	section.timer&attributes(attributes)
		h3.visually-hidden Таймер
		ul.timer__list
			li.timer__element
				span.timer__digit 12
				span.timer__word часов
			li.timer__element
				span.timer__digit 46
				span.timer__word минут
			li.timer__element
				span.timer__digit 51
				span.timer__word секунд