extends ../layout/layout
include ../components

block variables
  - var title = 'Goldy Store | Ювелирный магазин';
  - var pageClass = 'main';

block content
  include ../modules/header/header
  main(class=pageClass)
    .container
      include ../modules/promo/promo
      include ../modules/popular/popular
      include ../modules/sale/sale
      include ../modules/day-product/day-product
      include ../modules/articles/articles