extends ../layout/layout
include ../components

block variables
  - var title = 'Goldy Store | Ювелирный магазин';
  - var pageClass = 'main';

block content
  include ../modules/header/header
  main(class=pageClass)
    include ../modules/promo/promo
    include ../modules/popular/popular
    include ../modules/sale/sale