include header-navigation-data

section.header__navigation.navigation
	h2.visually-hidden Главная навигация
	ul.navigation__list
		each link in links
			li.navigation__item
				a.navigation__link(class= link.current ? 'navigation__link--current' : '' href=`#${link.anchor}.html`)= link.text
	include header-search