include header-additional-panel-data

section.header__additional-panel.additional-panel
	h2.visually-hidden Дополнительная панель пользователя
	ul.additional-panel__list
		each element in elements
			li.additional-panel__item
				a.additional-panel__link(href= `#${element.path}.html` title= element.value)
					if element.path === 'favorite'
						span.additional-panel__counter 23
					+icon(`${element.path}`, `${element.width}`, `${element.height}`)