-
	var elements = [
		{
			path: 'favorite',
			value: 'Понравившиеся товары',
			width: '20',
			height: '20',
		},
		{
			path: 'chart',
			value: 'Графики цен',
			width: '20',
			height: '20',
		},
		{
			path: 'bag',
			value: 'Корзина',
			width: '20',
			height: '20',
		},
	];