-
	var links = [
		{
			text: 'Каталог',
			anchor: 'catalog',
		},
		{
			text: 'Акции',
			anchor: 'stocks',
		},
		{
			text: 'Бренды',
			anchor: 'brands',
		},
		{
			text: 'Магазины',
			anchor: 'shops',
		},
		{
			text: 'О нас',
			anchor: 'about',
		},
		{
			text: 'Доставка и оплата',
			anchor: 'delivery',
		},
		{
			text: 'Статьи',
			anchor: 'articles',
		},
	];