section.header__user-panel.user-panel
	h2.visually-hidden Панель входа и регистрации
	p.user-panel__data
		a.user-panel__link(href="#log-in") Вход
		.
			&nbsp;|&nbsp;
		a.user-panel__link(href="#sign-up") Регистрация