-
	var cards = [
		{
			anchor: 'all',
			title: 'Скидки на&nbsp;все&nbsp;украшения с бриллиантами',
			description: 'Перейти на страницу скидкок на все украшения с бриллиантами',
			discount: '-50%',
			class: 'sale__secondary-link--green',
		},
		{
			anchor: 'bracelets-and-rings',
			title: 'Скидки на&nbsp;кольца&nbsp;и браслеты',
			description: 'Перейти на страницу скидок на кольца и браслеты',
			discount: '-40%',
			class: 'sale__secondary-link--red',
		},
		{
			anchor: 'engaged-rings',
			title: 'Снижение цен на&nbsp;обручальные кольца',
			description: 'Перейти на страницу снижение цен на обручальные кольца',
			discount: '-60%',
			class: 'sale__secondary-link--orange',
		},
	];