-
	var cards = [
		{
			anchor: 'all',
			title: 'Скидки на все украшения с бриллиантами',
			discount: '-50%',
		},
		{
			anchor: 'bracelets-and-rings',
			title: 'Скидки на кольца и браслеты',
			discount: '-40%',
		},
		{
			anchor: 'engaged-rings',
			title: 'Снижение цен  на обручальные кольца',
			discount: '-60%',
		},
	];