-
	var cards = [
		{
			images: [
				{
					path: 'ring-1',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-1',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-1',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
			],
			sale: true,
			saleText: 'Sale',
			actualPrice: '41 000 ₽',
			oldPrice: '65 000 ₽',
			discount: '-45%',
			text: 'Стильное кольцо из белого золота c бриллиантами',
		},
		{
			images: [
				{
					path: 'ring-2',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-2',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-2',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
			],
			saleText: 'Sale',
			actualPrice: '56 000 ₽',
			oldPrice: '65 000 ₽',
			discount: '-45%',
			text: 'Стильное кольцо из белого золота c бриллиантами',
		},
		{
			images: [
				{
					path: 'ring-3',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-3',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-3',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
			],
			saleText: 'Sale',
			actualPrice: '37 500 ₽',
			oldPrice: '65 000 ₽',
			discount: '-45%',
			text: 'Стильное кольцо из белого золота c бриллиантами',
		},
		{
			images: [
				{
					path: 'ring-4',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-4',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
				{
					path: 'ring-4',
					width: '200',
					height: '200',
					description: 'Стильное кольцо из белого золота c бриллиантами',
				},
			],
			saleText: 'Sale',
			actualPrice: '39 200 ₽',
			oldPrice: '65 000 ₽',
			discount: '-45%',
			text: 'Стильное кольцо из белого золота c бриллиантами',
		},
	];