@use './global/library.scss' as lib;

$counter-color: #ffffff;
$counter-background: #E46942;

.additional-panel__list {
	@include lib.reset-list;
	display: grid;
	grid-template-columns: repeat(3, 32px);
	grid-auto-rows: 32px;
	width: 96px;
}

.additional-panel__link {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	position: relative;
	width: 32px;
	height: 32px;

	svg {
		fill: #303030;
	}

	.additional-panel__icon {
		stroke: #303030;
	}

	&:hover {
		svg {
			fill: #979797;
		}

		.additional-panel__icon {
			stroke: #979797;
		}
	}

	&:focus,
	&:active {

		svg {
			fill: #E24B33;
		}

		.additional-panel__icon {
			stroke: #E24B33;
		}
	}

	&--bag {

		&:hover {
			background-color: #F8F8F8;
		}

		&:focus,
		&:active {
			background-color: #E8E7E7;
		}
	}
}

.additional-panel__counter {
	position: absolute;
	top: -3px;
  right: -6px;
	font-size: 10px;
	line-height: 10px;
	font-weight: 700;
	color: $counter-color;
	background-color: $counter-background;
	padding: 4px 3px 5px 3px;
	border-radius: 50%;
}