@use './global/library.scss' as lib;

.buttons {
	@include lib.reset-list;
	display: flex;
	flex-direction: column;
	max-width: 400px;

	@media (max-width: lib.$tablet-s) {
		max-width: 100%;
	}
}

.buttons__element {
	width: 100%;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.buttons__button {
	@include lib.black-button;
	cursor: pointer;
	width: 100%;

	&--link {
		@include lib.white-button;
		text-decoration: none;
	}
}