@use './global/library.scss' as lib;

$card-border: 1px solid #F0F0F0;

.card {
	border: $card-border;

	padding: 16px 24px 26px 24px;

	display: grid;
	grid-template-columns: 1fr 24px;
	grid-template-rows: repeat(3, auto);
	gap: 0 11px;

	position: relative;

	&--sale {
		position: relative;

		&::before {
			@include lib.sale;
		}
	}

	// box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
	// При клике на карточку - появляется тень
}

.card__images {
	@include lib.reset-list;
	display: flex;
	flex-wrap: no-wrap;

	grid-column: 1 / 3;
	grid-row: 1 / 3;
	justify-self: center;
	margin-top: 24px;
	margin-bottom: 26px;

}

.card__image-wrapper {
	position: relative;

	.card__dots {
		position: absolute;
		bottom: 6px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
	}
}

.card__image {
	width: 100%;
	flex-shrink: 0;
	display: none;

	&--current {
		display: block;
	}
}

.card__buttons {
	@include lib.reset-list;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	z-index: 15;
}

.card__element {
	&:first-child {
		margin-bottom: 10px;

		.card__button {
			&:focus,
			&:active {

				svg {
					fill: #E24B33;
				}
			}
		}
	}
}

.card__button {
	display: flex;
	border: none;
	background-color: transparent;
	cursor: pointer;

	svg {
		fill: #C9C9C9;
	}

	&:hover {
		svg {
			fill: #979797;
		}
	}
}

.card__content {
	grid-column: 1 / -1;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.card__current-price {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	margin-right: 8px;
}

.card__old-price {
	color: #8F8F8F;
	line-height: 14px;
}

.card__discount {
	@include lib.discount;
	margin-left: auto;
}

.card__text {
	font-size: 14px;
	line-height: 22.4px;
	font-weight: 400;
	margin-top: 16px;
	width: 100%;
}