@use './global/library.scss' as lib;

.colors__title {
	@include lib.h3-title;
}

.colors__list {
	@include lib.reset-list;
	display: flex;
	flex-wrap: wrap;
}

.colors__item {
	margin-right: 8px;

	&:last-child {
		margin-right: 0;
	}

	&--disabled {
		.colors__button {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}

.colors__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid #DADADA;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;

	position: relative;

	&:hover {
		border: 1px solid #303030;
	}

	&:active,
	&:focus {
		outline: none;
		border: 1px solid #303030;
	}

	&::before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	&--grey {
		&::before {
			background-color: #D9D9D9;
		}
	}

	&--yellow {
		&::before {
			background-color: #F1CB7E;
		}
	}

	&--orange {
		&::before {
			background-color: #EA8C48;
		}
	}

	&--mint {
		&::before {
			background-color: #A7E492;
		}
	}
}