@use './global/library.scss' as lib;

.controls {
	@include lib.reset-list;
	display: flex;
}

.control__button {
	background-color: transparent;
	display: flex;
	border: none;
	border-radius: 50%;
	cursor: pointer;

	.control__arrow {
		transition: all 0.3s ease-out;
	}

	&:hover {
		background-color: #F5F5F5;
	}

	&:focus,
	&:active {
		background-color: #F5F5F5;
		pointer-events: none;

		.control__arrow {
			&--previous {
				transform: translateX(-8px);
			}

			&--next {
				transform: translateX(8px);
			}
		}
	}
}