@use './global/library.scss' as lib;

.goods {
	@include lib.reset-list;
	display: flex;
	flex-wrap: no-wrap;
}

.goods__item {
	width: 100%;
	flex-shrink: 0;
	display: none;

	&--current {
		display: grid;
		grid-template-columns: 550px 1fr;
		grid-template-rows: auto;
		gap: 100px;
	}
}

.goods__visual {
	position: relative;
}

.goods__offers {
	@include lib.reset-list;
	display: flex;
	position: absolute;
	top: 16px;
	left: 16px;
}

.goods__offer {
	@include lib.offer;
	margin-right: 4px;

	&:last-child {
		margin-right: 0;
	}

	&--new {
		@include lib.offer-new;
	}

	&--hit {
		@include lib.offer-hit;
	}

	&--sale {
		@include lib.offer-sale;
	}
}

.goods__image-controls {
	@include lib.reset-list;
	display: flex;		
}

.goods__image-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	&--previous {
		left: 16px;
	}

	&--next {
		right: 16px;
	}
}

.goods__image-button {
	display: flex;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.goods__header {
	padding-bottom: 20px;
	border-bottom: 1px solid #F0F0F0;
}

.goods__title {
	font-family: lib.$secondary-font;
	font-size: 32px;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 20px;
}

.goods__code {
	line-height: 14px;
	color: #8F8F8F;
	display: block;
	margin-bottom: 36px;
}

.goods__container {
	display: flex;
	align-items: center;
}

.goods__current-price {
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	margin-right: 16px;
}

.goods__old-price {
	color: #8F8F8F;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	margin-right: 16px;
}

.goods__discount {
	@include lib.day-product-discount;
}

.goods__colors {
	margin-bottom: 30px;
}

.goods__sizes {
	margin-bottom: 40px;
}








