@use './global/library.scss' as lib;

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 24px 20px 20px 20px;

	@media (max-width: lib.$tablet) {
		padding: 24px 15px 20px 15px;
	}
}

.header__cities {
	margin-right: 60px;
}

.header__number {
	line-height: 14px;
	color: inherit;

	display: flex;
	align-items: center;
	width: max-content;
	text-decoration: none;
	margin-right: auto;

	svg {
		margin-right: 10px;
		fill: #303030;
	}

	&:hover {
		svg {
			opacity: 0.5;
		}
	}
}

.header__logo {
	margin-right: auto;
}

.header__user-panel {
	margin-right: 70px;
}