@use './global/library.scss' as lib;

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 24px 20px 20px 20px;

	@media (max-width: lib.$tablet) {
		padding: 24px 15px 20px 15px;

		display: grid;
		grid-template-columns: auto 183px repeat(2, auto);
		grid-template-rows: repeat(3, auto);
		align-items: start;
    justify-items: center;
	}
}

.header__cities {
	margin-right: 60px;

	@media (max-width: lib.$tablet) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		margin: 0;
		width: max-content;
		justify-self: start;
	}
}

.header__number {
	line-height: 14px;
	color: inherit;

	display: flex;
	align-items: center;
	width: max-content;
	text-decoration: none;
	margin-right: auto;

	svg {
		margin-right: 10px;
		fill: #303030;
	}

	&:hover {
		svg {
			opacity: 0.5;
		}
	}

	@media (max-width: lib.$tablet) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		margin: 0;
		margin-bottom: 20px;
		justify-self: start;
	}
}

.header__navigation {
	@media (max-width: lib.$tablet) {
		grid-column: 1 / -1;
		grid-row: 3 / -1;
	}
}

.header__logo {
	margin-right: auto;

	@media (max-width: lib.$tablet) {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}
}

.header__user-panel {
	margin-right: 70px;

	@media (max-width: lib.$tablet) {
		margin: 0;
		grid-column: 3 / 4;
		grid-row: 1 / 3;
		align-self: center;
		justify-self: end;
	}
}

.header__additional-panel {
	@media (max-width: lib.$tablet) {
		grid-column: 4 / -1;
		grid-row: 1 / 3;
		align-self: center;
		justify-self: end;
	}
}