@use './global/library.scss' as lib;

.slider {
	position: relative;
}

.slider__list {
	@include lib.reset-list;
	display: flex;
	flex-wrap: no-wrap;
}

.slider__dots {
	position: absolute;
	bottom: 24px;
	transform: translateX(-50%);
	left: 50%;
}

.slider__controls {
	.controls__control {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&--previous {
			left: 24px;
		}

		&--next {
			right: 24px;
		}

		@media (max-width: lib.$tablet-s) {
			&--previous {
				left: 10px;
			}

			&--next {
				right: 10px;
			}

			svg {
				circle {
					display: none;
				}
			}
		}
	}
}