@use './global/library.scss' as lib;

$slide-background: #F8F8F8;

.slide {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	min-height: 560px;
	background-color: $slide-background;
	background-image: url('../img/background/diamond.svg');
	background-repeat: no-repeat;
	background-position: 0 25px;
	background-size: 721px 536px;
	padding-left: 126px;
	width: 100%;
	flex-shrink: 0;
	display: none;

	svg {
		position: absolute;

		display: none;
	}

	picture {
		justify-self: end;
		margin-right: 36px;

		@media (max-width: lib.$tablet-s) {
			margin-right: 0;
		}
	}

	&--current {
		display: grid;
	}

	@media (max-width: lib.$tablet) {
		min-height: auto;
	}

	@media (max-width: lib.$tablet-s) {
		padding: 30px 30px 30px 70px;
	}
}

.slide__text {
	font-family: lib.$secondary-font;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 30px;

	@media (max-width: lib.$tablet) {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 25px;	
	}

	@media (max-width: lib.$tablet-s) {
		margin-bottom: 17px;
		font-size: 13px;
		line-height: 13px;
	}
}

.slide__title {
	font-family: lib.$secondary-font;
	font-size: 50px;
	line-height: 50px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 54px;

	@media (max-width: lib.$tablet) {
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 36px;
	}

	@media (max-width: lib.$tablet-s) {
		font-size: 18px;
    line-height: 18px;
    margin-bottom: 30px;
	}
}

.slide__link {
	@include lib.black-button;
	min-width: 200px;
}