@use './global/library.scss' as lib;

.user-panel__data {
	display: flex;
	align-items: center;
}

.user-panel__link {
	text-decoration: none;
	color: inherit;
	line-height: 14px;

	&:hover {
		opacity: 0.5;
	}

	@media (max-width: lib.$tablet-s) {
    font-size: 12px;
    line-height: 12px;
  }
}