-
	var goods = [
		{
			images: [
				{
					path: 'good',
					width: '550',
					height: '550',
					description: 'Кольцо из золота с бриллиантами',
				},
			],
			controls: [
				{
					description: 'Предыдущий слайд',
					name: 'arrow-left',
					width: '54',
					height: '54',
				},
				{
					description: 'Следующий слайд',
					name: 'arrow-right',
					width: '54',
					height: '54',
				},
			],
			ratingList: [
				{
					name: 'full-star',
				},
				{
					name: 'full-star',
				},
				{
					name: 'full-star',
				},
				{
					name: 'full-star',
				},
				{
					name: 'empty-star',
				},
			],
			title: 'Кольцо из золота с бриллиантами',
			code: '1012076',
			currentPrice: '22 000 ₽',
			oldPrice: '22 000 ₽',
			colors: [
				{
					color: 'серого',
				},
				{
					color: 'желтого',
					current: true,
				},
				{
					color: 'оранжевого',
				},
				{
					color: 'мятного',
				},
			],
			sizes: [
				{
					size: '16,5',
					description: 'Размер кольца 16,5',
					current: true,
				},
				{
					size: '17,5',
					description: 'Размер кольца 17,5',
				},
				{
					size: '18,5',
					description: 'Размер кольца 18,5',
				},
				{
					size: '19',
					description: 'Размер кольца 19',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
				{
					size: '18,5',
					description: 'Размер кольца 18,5',
				},
				{
					size: '19',
					description: 'Размер кольца 19',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
			],
		},
	];