-
	var goods = [
		{
			images: [
				{
					path: 'good',
					width: '550',
					height: '550',
					description: 'Кольцо из золота с бриллиантами',
				},
			],
			controls: [
				{
					description: 'Предыдущий слайд',
					name: 'arrow-left',
					width: '54',
					height: '54',
				},
				{
					description: 'Следующий слайд',
					name: 'arrow-right',
					width: '54',
					height: '54',
				},
			],
			ratingList: [
				{
					name: 'full-star',
				},
				{
					name: 'full-star',
				},
				{
					name: 'full-star',
				},
				{
					name: 'full-star',
				},
				{
					name: 'empty-star',
				},
			],
			title: 'Кольцо из золота с бриллиантами',
			code: '1012076',
			currentPrice: '22 000 ₽',
			oldPrice: '22 000 ₽',
			colors: [
				{
					color: 'серого',
				},
				{
					color: 'желтого',
					current: true,
				},
				{
					color: 'оранжевого',
				},
				{
					color: 'мятного',
				},
			],
			sizes: [
				{
					size: '16,5',
					description: 'Размер кольца 16,5',
					current: true,
				},
				{
					size: '17,5',
					description: 'Размер кольца 17,5',
				},
				{
					size: '18,5',
					description: 'Размер кольца 18,5',
				},
				{
					size: '19',
					description: 'Размер кольца 19',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
				{
					size: '18,5',
					description: 'Размер кольца 18,5',
				},
				{
					size: '19',
					description: 'Размер кольца 19',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
				{
					size: '19,5',
					description: 'Размер кольца 19,5',
				},
			],
			buttons: [
				{
					text: 'в корзину',
					type: 'button',
					description: 'Положите товар в корзину',
				},
				{
					text: 'купить в 1 клик',
					href: 'payment',
					description: 'Перейти на страницу оформления товара',
				},
			],
			features: [
				{
					type: 'button',
					text: 'Сохранить',
					description: 'Сохранить данное предложение в избранных',
					iconName: 'good-heart',
					iconWidth: '24',
					iconHeight: '24',
				},
				{
					href: 'compare',
					text: 'Сравнить',
					description: 'Сравнить данное предложение с другими предложениями',
					iconName: 'good-compare',
					iconWidth: '20',
					iconHeight: '20',
				},
				{
					type: 'button',
					text: 'Поделиться',
					description: 'Поделиться данным предложением',
					iconName: 'good-share',
					iconWidth: '20',
					iconHeight: '20',
				},
			],
		},
	];